*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(180, 184, 201);
}
.nawbar_row{
    background-color: rgb(15, 19, 46);
    height: auto;
    border-radius: 20px;
    box-shadow: 5px 10px 10px rgb(40, 40, 122);
}
.img{
    height: 100px;
    width: 100px;
    border: 0px solid green;
    border-radius: 40px;
    padding: 10px;
   
}

nav{
    background-color: rgb(153, 137, 137);
   
}
nav ul{
    list-style-type: none;

}
nav ul li a{
      color: white;
      font-family: 'poppins',sans-serif;
      text-decoration: none;
      float: left;
      padding: 30px;
      padding-top: 15px;
      padding-left: 40px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 20px;
      font-weight: 600;

}
.shop_icon{
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

/* main page css */
.main_container{
   
    background-image: url('assets/home/b_logo2.png');
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    padding-top:10px;
    border-radius: 20px ;
    /* box-shadow: 2px 1px 5px gray; */
    
    
}
.slogan{
    font-family:'poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
    padding: 15px ;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 15px;
    display: inline;
    font-size: 50px;

}
.off{
    font-size: 70px;
    color: red;
    padding-top: 40px;
}
.shop_button a{
    color: white;
    text-decoration: none;
    display: inline;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 25px;
}
.find{
    color: rgb(15, 15, 128);
    background-color: rgba(211, 211, 37,0.7);
    border-radius: 10px;
    box-shadow: 5px 8px 7px rgb(71, 105, 150);
   
}
/* .marq-find{
    behavior: alternate;
    direction: left;
    
} */
.love{
    color: rgb(211, 32, 19);
    background-color: rgba(104, 230, 104,0.3);
    border-radius: 10px;
    box-shadow: 5px 8px 7px rgb(105, 105, 185);
    margin-left:  -20px;
}
/* .marq-love{
    behavior: alternate;
    direction: down;
    
} */

.buy{
    color: rgb(15, 15, 128);
    background-color: rgba(211, 211, 37,0.3);
    border-radius: 10px;
    box-shadow: 5px 8px 7px rgb(55, 55, 129);
    margin-left:  -60px;
   


    /* animation-name: my_animation;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 2s;

}
@keyframes my_animation{
    0%{color: rgb(196, 18, 18) ; }
    100%{ color: rgb(15, 15, 116);} */
}
/* .marq-buy{
    behavior: alternate;
    direction: right;
    
} */
.service {
    color: rgb(92, 51, 12);
    font-size: 40px;
    /* background-color: rgba(11, 36, 105, 0.4);
    border-radius: 10px;
    box-shadow: 5px 9px 8px green;
    padding: 15px;
    margin: 10px; */

}
/* .service_img{
    height: 100px;
    width: 100px;
    border-radius: 30px;
} */

.main_text{
    display: flex;
    font-family: 'poppins', sans-serif;
   
}
.man_logo img{
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    padding-top:10px;
    border-radius: 20px ;
    box-shadow: 2px 1px 5px gray;
    
}

/* css of second container */

.second_container{
   /* border: 1px solid green; */
    width: 100vw;
    border-radius: 15px;
    text-align: center;
    
}
.features_heading{
      color: green;
      display: inline;
      background-color: aliceblue;
      padding: 10px;
      border-radius: 20px;
}
.sec_cont_row{
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
}
.featre_div1{
 background-color: rgb(190, 213, 235);
 text-align: center;
 border-radius: 15px;
 box-shadow: 3px 5px 3px rgb(81, 81, 201);
 width: 200px;
 height: 250px;
 margin: 5px;
}
.features_photo{
    width: 150px;
    height: 150px;

}
.featre_div1 h3{
    background-color: pink;
    padding: 5px 5px;
    color: green;
    font-size: 20px;
    
}

/* css for third container */

.third_container{
    background-color:white;
    text-align: center;
    border-radius: 10px;
    height: auto;
}
.features_product{
    background-color: rgb(240, 240, 75);
    display: inline;
    padding: 8px;
    border-radius: 20px;    
}
.third_cont_row{
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
}
.featre_product_div{
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    text-align: start;
    background-color: rgb(64, 122, 175);
    border-radius: 15px;
    box-shadow: 3px 5px 3px rgb(81, 81, 201);
    width: 250px;
    height: 350px;
    margin: 5px;
    cursor: pointer;
    transition: 0.5s ease;
   }

   .featre_product_div:hover{
    box-shadow: 6px 10px 20px rgb(81, 81, 201);
   }

   .features_product_photo{
    width: 100%;
   height: 200px;
   }

   

   .featre_product_div span{
    background-color:rgb(163, 223, 238);
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
   }  
   .featre_product_div h5{
    color: white;
    background-color: lightgreen;
    margin-top:  10px;
   }

   .featre_product_div .star{
    color: yellow;
    
   }