*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  
}
.single_product_details_container{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 83%;
}

.images_div{
    height: auto;
    width: 30%;
    box-shadow: 2px 2px 10px;
    margin-right: 5px;
}

.product_description_div{
    height: auto;
    width: 70%;
    background-color: red;
}

.big_img{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(59, 104, 104);
    width: 70%;
    margin: auto;
    margin-top: 5px;
    border-radius: 10px;
}

.big_img_photo{
    height: 140px;
    width: 130px;
}

.small_imgs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.small_img{
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    padding: 5px;
    margin: 2px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: rgb(48, 82, 101);
    border-radius: 5px;
}